  <footer class="site-footer">
    <div class="wrapper">
      <div class="footer-content">
        <h3>Lorem ipsum</h3>
        <p>
          dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
        <p>
          Subscribe<a href="{{/feed.xml | prepend:site.baseurl}}">Via RSS</a>
        </p>
      </div>
      <div class="footer-social">
        <ul>
          <li>
            <a href="http://www.github.com/{{site.github_username}}">
            <img src="/images/github.png" width="40">
            </a>
          </li>
          <li>
            <a href="http://www.plus.google.com/{{site.google_username}}">
            <img src="/images/google.png" width="40">
            </a>
          </li>
          <li>
            <a href="http://www.plus.google.com/{{site.google_username}}">
            <img src="/images/facebook.png" width="40">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>

